
:root {
  font-size: 62.5%;

  /*fonts*/
  --font-family-montserrat: 'Montserrar';

  --main-red: #c93239;
}

h1 {
  margin: 0;

}

h2 {
    font-size: 20px;
    color: orange;
}
a {
  text-decoration: none;
}
