.input {
    background-color: aquamarine;
}
.inputRight {
        background-color: green;
}
.inputError {
    background-color: rgb(229, 147, 147);
}
.warningText {
    padding: 10px;
    color: red;
}